<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>BetterContact\BetterContact</fullnamespace>
    <descriptive locale="en_US">
        <title>Better Contact Form</title>
        <subtitle>A contact form with additional fields and an email template to send data</subtitle>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Formulaire de contact amélioré</title>
        <subtitle>Un formulaire de contact améliorée, avec des champs supplémentaires et un template e-mail d'envoi des données</subtitle>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.1.1</version>
    <author>
        <name>Franck Allimant</name>
        <company>CQFDev</company>
        <email>thelia@cqfdev.fr</email>
        <website>www.cqfdev.fr</website>
    </author>
    <type>classic</type>
    <thelia>2.3.0</thelia>
    <stability>other</stability>
</module>
